{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myawwwards</title>
    {% block styles%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css%}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    sty
    <div class="container-fluid head">
      <img src="{% static 'img/awards.png' %}" alt="">
    </div>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
    
</body>
</html>