{% extends 'awards/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <img style="width: 100%;" src="https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg" alt="">
        One of three columns
      </div>
      <div class="col-sm">
        <img style="width: 100%;" src="https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg" alt="">
        One of three columns
      </div>
      <div class="col-sm">
        <img style="width: 100%;" src="https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg" alt="">
        One of three columns
      </div>
    </div>
  </div>
{% endblock %}